<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Regeln</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p><b>Bitte beachten Sie die Öffnungszeiten!</b></p>
  <p><b>Armaturenbrett: </b>Am Armaturenbrett leuchtet ROTE Warnung: Bitte sofort Motor abstellen
    und nicht mehr starten. Zum Menupunkt <i>Panne</i> gehen.</p>
    <p><b>Tanken: </b>Tanken ausschließlich mit Tankkarte (Lehner) an ENI-Tankstellen
      (Menupunkt <i>Tanken</i> gehen. </p>
    <p><b>Saugen: </b>Bitte Ihr Taxi nur in der Firma saugen!</p>
    <p><b>Waschen: </b>mit Zulassungsschein (Taxoil) um € 3,90 bei ENI - Rautenweg.</p>
    <p><b>Innenreinigung: </b>bei Herrn Lehner anmelden und wir reinigen es gründlich.</p>
    <p><b>Auto abstellen: </b>Wenn Sie das Taxi abstellen, dann gehört es auf die Julius-Ficker-Straße.
      Im Hof abstellen bitte nur zur Reparatur!</p>
    <p><b>Zusatzeinbauten: </b> nur in unserer Werkstätte.</p>
    <p><b>Rauchverbot: </b>Wenn in Ihrem Taxi geraucht wird, wird es für Sie teuer!</p>
    <p><b>Einbruch: </b>Nichts im Wagen liegen lassen, auch nicht für 2 Minuten.
      Taxieinbrecher sind darauf spezielisiert! Zu Ihrer fehlenden Brieftasche kommt noch die Scheibe dazu.</p>
</ion-content>