<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tanken Diesel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="assets/img/txCard.png">
    <p>Tanken mit Tankkarte bei angeführten ENI-Tankstellen. Die Karte
      bekommen Sie bei Herrn Lehner, Frau Latin oder Frau Fiala.
    </p>

    <ion-item lines="none">
      <ion-button size="big" color="dark" (click)="z2()">02. Bezirk</ion-button>
      <ion-button size="big"  color="dark" (click)="z3()">03. Bezirk</ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-button size="big" color="dark" (click)="z10()">10. Bezirk</ion-button>
      <ion-button size="big" color="dark" (click)="z12()">12. Bezirk</ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-button size="big" color="dark" (click)="z19()">19. Bezirk</ion-button>
      <ion-button size="big" color="dark" (click)="z20()">20. Bezirk</ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-button size="big" color="dark" (click)="z21()">21. Bezirk</ion-button>
      <ion-button size="big" color="dark" (click)="z22()">22. Bezirk</ion-button>
    </ion-item>
    <ion-item lines="none">
      <ion-button size="big" color="dark" (click)="z23()">23. Bezirk</ion-button>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>Handelskai 88</ion-col><ion-col>Erdbergstr. 189</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>1020 Wien</ion-col><ion-col>1030 Wien</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>06:00-21:00</ion-col><ion-col>00:00-22:00</ion-col>
      </ion-row><br>
      <ion-row>
        <ion-col>Grenzackerstr. 6-8</ion-col><ion-col>Bonygasse 47</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>1100 Wien</ion-col><ion-col>1120 Wien</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>06:00-22:00</ion-col><ion-col>06:00-22:00</ion-col>
      </ion-row><br>
      <ion-row>
        <ion-col>Krottenbachstr. 32-34</ion-col><ion-col>Jägerstzr. 60</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>1190 Wien</ion-col><ion-col>1200 Wien</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>00:00-24:00</ion-col><ion-col>06:00-22:00</ion-col>
      </ion-row><br>
      <ion-row>
        <ion-col>Leopoldauestr. 180</ion-col><ion-col>Donaustadtstr. 43</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>1210 Wien</ion-col><ion-col>1220 Wien</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>00:00-24:00</ion-col><ion-col>00:00-24:00</ion-col>
      </ion-row><br>
      <ion-row>
        <ion-col>Breitenfurterstr. 210</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>1230 Wien</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>00:00-24:00</ion-col>
      </ion-row>
    </ion-grid>
        <ion-button expand="block" color="light"  (click)="goBack()">zurück</ion-button> <br>
</ion-content>
