/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* alert CSS */
.alm {
    --backdrop-opacity: 0.6;
    --background: yellow;
    .alert-title.sc-ion-alert-md, .alert-title.sc-ion-alert-ios {
        font-size: 18;
        color: black;
    }
    .alert-message.sc-ion-alert-md, .alert-message.sc-ion-alert-ios {
        color: black;
        font-size: 15;
    }
    .alert-button.sc-ion-alert-md, .alert-button.sc-ion-alert-ios {
        color: black;
        background-color: orange;
        width: 110px;
        border-radius: 2px;
        font-weight: bold;
    }
}
